[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "spatgraphs"]
	path = spatgraphs
	url = https://github.com/antiphon/spatgraphs
